body{
  background-color: black;
}
/* Estp es para la seccion Cabecera*/
header {
  background-color: #5b7989;
  color: #fff;
  text-shadow: 2px 2px  #02010a;
  padding-bottom:  50px;
  min-height: 50px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-family: 'Dancing Script';

}
.contenido{
  align-items: center;
}
header a{
  text-decoration: none;
  text-transform:uppercase;
  color:#fff;
  font-size: 16px;

}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}
header #titulo {
  float: left;
}

header nav {
  float: right;
  margin-top: 10px;
}
#ImagenCentral{
justify-content: center;
background-color: #82c3a6;
}
.ImagenSecundaria{
  background-color: #d5c75f;
  border: 1px;
